[Unit]

Description=auto start stream

After=multi-user.target

[Service]

Type=simple

ExecStart=/opt/PiCam/initCam.sh

User=pi

WorkingDirectory=/opt/PiCam

Restart=on-failure

[Install]

WantedBy=multi-user.target
